<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-dishextension" >
	<tr>
		<td>
			<f:translate key="tx_dishextension_domain_model_dish.id" />
		</td>
		<td>
		{dish.id}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dishextension_domain_model_dish.description" />
		</td>
		<td>
		{dish.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dishextension_domain_model_dish.price" />
		</td>
		<td>
		{dish.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dishextension_domain_model_dish.type" />
		</td>
		<td>
		{dish.type}
		</td>
	</tr>
</table>
</html>